<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectronicsStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login_and_registration.css" asp-append-version="true" />
</head>
<body>
        <video autoplay muted loop id="bg-video">
            <source src="" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>

        <script>
            // Список твоих видео
            var videos = [
                '/video/pc.mp4',
                '/video/pc1.mp4'
            ];

            // Выбираем случайное видео
            var randomVideo = videos[Math.floor(Math.random() * videos.length)];

            // Устанавливаем его как источник
            document.getElementById('bg-video').querySelector('source').src = randomVideo;
            document.getElementById('bg-video').load(); // Перезагружаем плеер
        </script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ElectronicsStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="List">Каталог товаров</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">Контакты</a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container text-center py-3">
            &copy; 2025 - ElectronicsStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/shared_script.js" asp-append-version="true"></script>
    <script src="~/js/login_and_registration_script.js" asp-append-version="true"></script>
    <script src="~/js/animation.js" asp-append-version="true"></script>

    @* Если вы хотите, чтобы форма регистрации была в модалке на каждой странице, раскомментируйте строку ниже: *@
    @* <partial name="Register" model="new ElectronicsStore.Domain.ViewModels.RegisterViewModel()" /> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>