<div class="main-wrapper">
    <header>
        <nav class="navbar navbar-expand-xl navbar-dark custom-navbar box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand brand-orange" asp-area="" asp-controller="Home" asp-action="Index">
                    ElectronicsHub
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mx-auto mb-2 mb-xl-0 text-center flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-light-custom" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light-custom" asp-controller="Home" asp-action="About">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light-custom" asp-controller="Home" asp-action="Catalog">Каталог товаров</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light-custom" asp-controller="Home" asp-action="Contacts">Контакты</a>
                        </li>
                    </ul>

                    <div class="ms-auto">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
    </header>

</div>