@using System.Security.Claims

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="rounded-circle bg-warning d-flex justify-content-center align-items-center me-2" style="width: 35px; height: 35px; color: black; font-weight: bold;">
                    @(User.Identity.Name?.Length > 0 ? User.Identity.Name.Substring(0, 1).ToUpper() : "U")
                </div>
                <span class="text-white">@User.Identity.Name</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-controller="User" asp-action="Profile">
                        👤 Мой профиль
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Cart" asp-action="Index">
                        🛒 Корзина
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                        <button type="submit" class="dropdown-item text-danger">Выйти</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#authModal" onclick="selectAuthTab('login-tab')">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#authModal" onclick="selectAuthTab('register-tab')">Регистрация</a>
        </li>
    }
</ul>