@using ElectronicsStore.Domain.Entity
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<div class="container-login-registration" id="login-registration-container">
    <div class="block-container">
        <!-- Левая часть (переключатели) -->
        <div class="block">
            <div class="block_item">
                <h3 class="block-item_title">Уже есть аккаунт?</h3>
                <button class="block-item_btn signin-btn" id="btn-signin">Войти</button>
            </div>
            <div class="block_item">
                <h3 class="block-item_title">Нет аккаунта?</h3>
                <button class="block-item_btn signup-btn" id="btn-signup">Регистрация</button>
            </div>
        </div>

        <!-- Формы входа и регистрации -->
        <div class="form-box" id="form-box">
            <!-- Форма входа -->
            <form class="form form_signin" id="signin-form" method="post" asp-page="/Account/Login">
                <h2 class="form_title">Вход</h2>

                <div id="error-messages-signin"></div>

                <label>
                    <input type="email" name="email" placeholder=" " required id="signin_email" />
                    <span>Email</span>
                </label>

                <label>
                    <input type="password" name="password" placeholder=" " required />
                    <span>Пароль</span>
                </label>

                <button type="submit" class="form-btn">Войти</button>
            </form>

            <!-- Форма регистрации -->
            <form class="form form_signup" id="signup-form" method="post" asp-page="/Account/Register">
                <h2 class="form_title">Регистрация</h2>

                <div id="error-messages-signup"></div>

                <label>
                    <input type="text" name="firstName" placeholder=" " required />
                    <span>Имя</span>
                </label>

                <label>
                    <input type="text" name="lastName" placeholder=" " required />
                    <span>Фамилия</span>
                </label>

                <label>
                    <input type="email" name="email" placeholder=" " required />
                    <span>Email</span>
                </label>

                <label>
                    <input type="password" name="password" placeholder=" " required />
                    <span>Пароль</span>
                </label>

                <label>
                    <input type="password" name="confirmPassword" placeholder=" " required />
                    <span>Подтвердить пароль</span>
                </label>

                <button type="submit" class="form-btn form_btn_signup">Зарегистрироваться</button>
            </form>

            <!-- Оверлей для закрытия модального окна -->
        </div>
            <div class="overlay" id="overlay"></div>
    </div>
</div>


<script>
    console.log({
        modal: document.querySelector(".container-login-registration"),
        signinBtn: document.querySelector('.signin-btn'),
        signupBtn: document.querySelector('.signup-btn'),
        signinEmail: document.querySelector("#signin_email"),
        formSignin: document.querySelector('.form_signin')
    });
</script>