@using System.Security.Claims

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        var avatarPath = User.FindFirst("AvatarPath")?.Value ?? "/img/default-user.png";
        var userName = User.Identity.Name;

        <li class="nav-item dropdown">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle me-3"
               id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@avatarPath" alt="Аватар" width="32" height="32" class="rounded-circle" style="object-fit: cover;">
                <span class="ms-1 text-white d-none d-xl-inline">@userName</span>
            </a>

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownUser">
                <li><a class="dropdown-item" asp-controller="User" asp-action="Profile">Профиль</a></li>
                <li><a class="dropdown-item" asp-controller="Cart" asp-action="Index">Корзина/Архив</a></li>

                @if (User.IsInRole("Admin"))
                {
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index">Панель Админа</a></li>
                }

                <li><hr class="dropdown-divider"></li>
                <li>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="dropdown-item">Выйти</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <button class="btn btn-outline-warning me-2 fw-bold"
                    data-bs-toggle="modal" data-bs-target="#authModal"
                    onclick="selectAuthTab('login-tab')">
                Войти
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-warning fw-bold text-dark"
                    data-bs-toggle="modal" data-bs-target="#authModal"
                    onclick="selectAuthTab('register-tab')">
                Регистрация
            </button>
        </li>
    }
</ul>