@{
    ViewData["Title"] = "О нас";
    Layout = "_Layout";
}

<div id="about" class="container-section scroll-mt-24">
    <h2 class="info-sections hidden-on-scroll fade-in">О нас</h2>
    <p class="text hidden-on-scroll fade-in" style="transition-delay: 100ms;">
        Добро пожаловать в "Мир Электроники" — ваш надежный партнер в мире высоких технологий и современной техники!
        Мы предлагаем широкий ассортимент гаджетов, бытовой техники и компьютерных комплектующих по самым выгодным ценам.
        Наша команда экспертов всегда готова помочь вам подобрать идеальное устройство, отвечающее вашим потребностям и бюджету.
    </p>
    <p class="text hidden-on-scroll fade-in" style="transition-delay: 200ms;">Мы заботимся о каждом клиенте, предоставляя высококачественный сервис, начиная с профессиональной консультации и заканчивая быстрой доставкой и гарантийной поддержкой.</p>
    <p class="text hidden-on-scroll fade-in" style="transition-delay: 300ms;">
        Мы также гордимся нашими гарантийными обязательствами.
        Вся техника, приобретенная у нас, имеет официальную гарантию.
    </p>
</div>