@model ElectronicsStore.Domain.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Создание нового товара";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0 bg-dark-card">
                <div class="card-header bg-main-orange text-white">
                    <h4 class="mb-0">@ViewData["Title"]</h4>
                </div>
                <partial name="_ProductFormPartial" model="Model" />
            </div>
        </div>
    </div>
</div>