/* Центрирование форм на экране */
.auth-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card {
    background-color: #1e1e1e; /* Темно-серый фон карточки */
    border: 1px solid #333;
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0,0,0, 0.5);
}

.auth-title {
    color: var(--main-orange);
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-floating input {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: #fff;
}

    .form-floating input:focus {
        background-color: #333;
        color: #fff;
        border-color: var(--main-orange);
        box-shadow: none;
    }

.form-floating label {
    color: #aaa;
}

.btn-auth {
    background: var(--main-orange);
    color: #000;
    font-weight: bold;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-top: 20px;
    transition: 0.3s;
}

    .btn-auth:hover {
        background: #e65c00;
        color: #fff;
    }

.auth-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
}

    .auth-footer a {
        color: var(--main-orange);
        text-decoration: none;
    }
