@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в ElectronicsHub!</h1>
    <p>Лучшая электроника по доступным ценам.</p>

    <div class="mt-4">
        <img src="/img/iphone15.jpg" class="img-fluid rounded shadow" alt="iPhone 15" style="max-height: 400px;">
    </div>

    <div class="mt-5">
        <a asp-controller="Home" asp-action="Catalog" class="btn btn-primary btn-lg">Перейти в каталог</a>
    </div>
</div>