@{
    ViewData["Title"] = "Главная";
}

<div class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1 class="hero-title">Добро пожаловать в ElectronicsHub</h1>
        <p class="hero-subtitle">Ваш путеводитель в мир электроники и инноваций.</p>
        <a asp-controller="Home" asp-action="Catalog" class="btn btn-orange">ПЕРЕЙТИ В КАТАЛОГ</a>
    </div>
</div>

<div class="container mb-5">
    <h2 class="info-sections">Почему выбирают нас</h2>
    <div class="cards-wrapper">

        <div class="custom-card">
            <div class="card-body-custom">
                <h3 class="card-title-custom">Быстрая доставка</h3>
                <p class="card-desc">Доставляем товары по всей стране в кратчайшие сроки.</p>
            </div>
        </div>

        <div class="custom-card">
            <div class="card-body-custom">
                <h3 class="card-title-custom">Гарантия качества</h3>
                <p class="card-desc">Только сертифицированная техника с официальной гарантией.</p>
            </div>
        </div>

        <div class="custom-card">
            <div class="card-body-custom">
                <h3 class="card-title-custom">Лучшие цены</h3>
                <p class="card-desc">Мы следим за рынком, чтобы предложить вам самые выгодные цены.</p>
            </div>
        </div>

    </div>
</div>