@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}

<div class="container-section">
    <h2 class="info-sections">Добро пожаловать в ElectronicsStore!</h2>
    <p class="text" style="text-align: center;">
        Ваш надежный поставщик электроники и бытовой техники.
        <br />
        Используйте меню навигации, чтобы узнать больше о нас, посмотреть каталог или связаться с нами.
    </p>
</div>