@{
    ViewData["Title"] = "Главная";
}

<div class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1 class="hero-title">Electronics Hub</h1>
        <p class="hero-subtitle">Технологии будущего уже здесь. Найди свой идеальный гаджет.</p>
        <a asp-controller="Home" asp-action="Catalog" class="btn btn-orange">ПЕРЕЙТИ В КАТАЛОГ</a>
    </div>
</div>

<div class="container">
    <h2 class="info-sections">О нас</h2>
    <div class="text-block">
        <p>
            Добро пожаловать в <strong>ElectronicsHub</strong> — ваш проводник в мир высоких технологий!
            Мы предлагаем широкий ассортимент электроники: от мощных игровых ПК до новейших смартфонов.
            Наша миссия — сделать технологии доступными для каждого. Мы гарантируем качество,
            лучшие цены и профессиональную поддержку.
        </p>
    </div>
</div>

<div class="container">
    <h2 class="info-sections">Популярные категории</h2>
    <div class="cards-wrapper">

        <div class="custom-card">
            <img src="/img/iphone15.jpg" alt="Смартфоны" class="card-img">
            <div class="card-body-custom">
                <h3 class="card-title-custom">Смартфоны</h3>
                <p class="card-desc">Флагманы и бюджетные модели от ведущих брендов.</p>
                <a asp-controller="Home" asp-action="Catalog" class="btn btn-sm btn-outline-light">Смотреть</a>
            </div>
        </div>

        <div class="custom-card">
            <img src="/img/pc.MP4" alt="Ноутбуки" class="card-img" style="background: #333;"> <div class="card-body-custom">
                <h3 class="card-title-custom">Ноутбуки и ПК</h3>
                <p class="card-desc">Мощные решения для работы, учебы и гейминга.</p>
                <a asp-controller="Home" asp-action="Catalog" class="btn btn-sm btn-outline-light">Смотреть</a>
            </div>
        </div>

        <div class="custom-card">
            <img src="/img/party.gif" alt="Аксессуары" class="card-img">
            <div class="card-body-custom">
                <h3 class="card-title-custom">Аксессуары</h3>
                <p class="card-desc">Наушники, мышки, клавиатуры и многое другое.</p>
                <a asp-controller="Home" asp-action="Catalog" class="btn btn-sm btn-outline-light">Смотреть</a>
            </div>
        </div>

    </div>
</div>

<div class="container mb-5">
    <h2 class="info-sections">Мы находимся</h2>
    <div class="map-container">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad21208fd549d2943e8fbe129a2b3a7d14a6690d2bd13c0818db753175b2560d4&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>