@* Указываем, что моделью может быть пустой список Product, как это отправляет контроллер *@
@model List<ElectronicsStore.Domain.Entity.Product>

@{
    ViewData["Title"] = "Главная страница";
}

<div class="container py-5 text-center text-white">
    <h1 class="display-3 fw-bold brand-orange">ElectronicsHub</h1>
    <p class="lead text-white-50">Ваш надежный проводник в мир современных технологий.</p>
    <hr class="text-secondary opacity-25" />
    <a asp-controller="Home" asp-action="Catalog" class="btn btn-lg btn-warning fw-bold mt-4">Перейти в Каталог товаров</a>
</div>

@* Оставляем этот блок пустым, так как главная страница не показывает товары *@
@if (Model.Any())
{
    // Пусто
}