@{
    ViewData["Title"] = "Панель администратора";
}

<div class="container">
    <h1>Администрирование</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Товары</div>
                <div class="card-body">
                    <p class="card-text">Управление каталогом</p>
                    <a href="#" class="btn btn-light">Добавить товар</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Заказы</div>
                <div class="card-body">
                    <p class="card-text">Просмотр всех заказов</p>
                    <a href="#" class="btn btn-light">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Пользователи</div>
                <div class="card-body">
                    <p class="card-text">Управление пользователями</p>
                    <a href="#" class="btn btn-light">Список</a>
                </div>
            </div>
        </div>
    </div>
</div>